.form-control,
.form-select {
  border-radius: 14px;
  padding: 14px;
}

.form-control:focus,
.form-select:focus {
  border-color: #06298a;
  box-shadow: 0 0 0 0.2rem rgba(6, 41, 138, 0.2);
}


.section-title {
  font-size: 36px;
  font-weight: 800;
  background: linear-gradient(90deg, #001f82, #005eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
