.hero-title {
  color: #0047ba;
  font-weight: 900;
  text-shadow:
    2px 2px 0 #00bfff,
    4px 4px 0 #b3e0ff;
}

/* ==== brand logo responsive==== */

@media (max-width: 992px) { /* Tablets */
  .responsive-brand-box {
    flex: 1 1 calc(50% - 1rem) !important; /* 2 per row */
  }
}

@media (max-width: 576px) { /* Mobiles */
  .responsive-brand-box {
    flex: 1 1 100% !important; /* 1 per row */
  }
}
