.hero-title {
  color: #0047ba;
  font-weight: 900;
  text-shadow:
    2px 2px 0 #00bfff,
    4px 4px 0 #b3e0ff;
}

/* ==== brand logo responsive==== */

@media (max-width: 992px) { /* Tablets */
  .responsive-brand-box {
    flex: 1 1 calc(50% - 1rem) !important; /* 2 per row */
  }
}

@media (max-width: 576px) { /* Mobiles */
  .responsive-brand-box {
    flex: 1 1 100% !important; /* 1 per row */
  }
}
.animated-bg {
  height: 75vh;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
  background-size: 800% 800%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}